<h1>EventList</h1>
<%= link_to "toggle", event_list_toggle_action_path %> |
<%= link_to "hide", event_list_hide_action_path %> |
<%= link_to "onclick", event_list_onclick_action_path %> |
<%= link_to "external_script", event_list_external_script_path %> |
<%= link_to "Fadein", event_list_fade_in_path %> |
<%= link_to "Load", event_list_load_path %> |
<%= link_to "Window Load", event_list_window_load_path %> |
<%= link_to "selector count", event_list_selector_count_path %> |
<%= link_to "id selector", event_list_id_selector_path %> |
<%= link_to "element selector", event_list_element_selector_path %> |
<%= link_to "submit selector", event_list_submit_selector_path %> |






<%= link_to "submit a form", event_list_submit_a_form_path %> |
<%= link_to "show hide password in field", event_list_show_hide_password_in_field_path %> |
<%= link_to "text area emotion icon", event_list_text_area_emotion_icon_path %> |
<%= link_to "div follow down screen", event_list_div_follow_down_screen_path %> |
<%= link_to "multiple file upload", event_list_multiple_file_upload_path %> |

